#container{
    background-image: url("images/stage.png");
    width: 99%;
    height: 80%;
    border: 5px solid red;
    
}

#duck{
    position: relative;
    width: 250px;
    height: 250px;
    cursor: cell;
} 

#hits{
    font-weight: bold;
    color: lime;
}

#missed{
    font-weight: bold;
    color: red;
}